<!--	---------------------------------- start footer------------------------------------------------->
<div class="end">
		<div class="container">
			<div class="row">
				<div class="col-md col-sm-6">
                       <div >
						   <img src="assets/logo.png" class="img-fluid mt-4 mb-3"  >                    
						  </div>
					<ul class="list-unstyled">
						<li class="my-3"><i class="fas fa-angle-right mr-2"></i><a routerLink="/home" routerLinkActive="active test">Home</a></li>
						<li class="my-3"><i class="fas fa-angle-right mr-2"></i><a routerLink="/about"routerLinkActive="active test" >ABOUT</a></li>
						<li class="my-3"><i class="fas fa-angle-right mr-2"></i><a routerLink="/projects" routerLinkActive="active test">DOCTORS</a></li>
						<li class="my-3"><i class="fas fa-angle-right mr-2"></i><a routerLink="/department" routerLinkActive="active test">DEPARTMENTS</a></li>
						<li class="my-3"><i class="fas fa-angle-right mr-2"></i><a routerLink="/contacts"routerLinkActive="active test">CONTACT</a></li>
					</ul>
				</div>
				<div class="col-md col-sm-6">
					<h3 class="my-5">Contact Information</h3>
					<ul class="list-unstyled">
						<li>
							<div class="d-flex justify-content-start">
								<i class="fas fa-map-marker-alt mr-2 fa-sm mt-1"></i>
								<p class="d-inline-block">
									<b>Head Office address:</b>
									<br>
									Makram Ebeid, Nasr City, Cairo, Egypt.
								</p>
							</div>
						</li>
						<li>
							<div class="d-flex justify-content-start ">
								<i class="fas fa-phone-alt mr-2 fa-sm mt-1 "></i>
								<p class="d-inline-block">
									<b>Phone:</b>
									<br>
									02 22 7379 20
									<br>
									011 22 66 2202
								</p>
							</div>
						</li>
						<li>
							<div class="d-flex justify-content-start ">
								<i class="fas fa-envelope mr-2 fa-sm mt-1"></i>
								<p class="d-inline-block">
									<b>Email:</b>
									<br>
									<a href="#">yourmail@gmail.com</a>
								</p>
							</div>
						</li>
						<li>
							<div class="d-flex justify-content-start ">
								<i class="far fa-clock mr-2 fa-sm mt-1"></i>
								<p class="d-inline-block">
									<b>Head Office working Days/Hours:</b>
									<br>
									<span>Saturday - Thursday / 10:00AM - 5:00PM</span>
								</p>
							</div>
						</li>
					</ul>
				</div>
				<div class="col-md col-sm-12">
					<h3 class="my-5">Be the First to Know</h3>
					<p class="mb-5">Get all the latest information on Events,
						Sales and Offers. Sign up for newsletter today.</p>
					<p>Enter your e-mail Address</p>
					<input type="email" class="form-control">
					<input type="submit" class="btn btn-primary my-2">
				</div>
			</div>
		</div>
	</div>

	<!---------------------------------------footer------------------------	-->
	<!--Start CopyRight-->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col text-uppercase text-left wow shake" data-wow-duration="2s" data-wow-offset="0" data-wow-iteration="10">
					<p>copyright 2019 Route Project &copy; all right reserved</p>
				</div>
				<div class="col text-right">
					<ul class="list-unstyled">
						<li>
							<a href="#"><i class="fab fa-facebook-square"></i></a>
						</li>
						<li>
							<a class="#"><i class="fab fa-twitter-square"></i></a>
						</li>
						<li>
							<a class="#"><i class="fab fa-youtube-square"></i></a>
						</li>
						<li>
							<a class="#"><i class="fab fa-google-plus-square"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!--End CopyRight-->
	<!-----------------------------------------end footer---------------------------------------------------->

