<section class="department">

  <div class="container">
    <div class="depart">
      <h1 class="text-center mb-5">Our Department</h1>
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4 mb-5 ">
          <div class="head d-flex mb-4"><img src="assets/cardiogram.png" class="img-fluid mr-2">
            <h2>Cardioology</h2>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris.</p>
          <a href="#">Read more</a>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-5 ">
          <div class="head d-flex mb-4"><img src="assets/stomach-2.png" class="img-fluid mr-2">
            <h2>Gastroenterology</h2>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris.</p>
          <a href="#">Read more</a>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-5 ">
          <div class="head d-flex mb-4"><img src="assets/blood-donation-2.png" class="img-fluid mr-2">
            <h2>Medical Lab</h2>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris.</p>
          <a href="#">Read more</a>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-5 bo">
          <div class="head d-flex mb-4"><img src="assets/teeth.png" class="img-fluid mr-2">
            <h2>Dental Care
                </h2>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris.</p>
          <a href="#">Read more</a>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-5">
          <div class="head d-flex mb-4"><img src="assets/stretcher.png" class="img-fluid mr-2">
            <h2>Surgery</h2>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris.</p>
          <a href="#">Read more</a>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-5">
          <div class="head d-flex mb-4"><img src="assets/bones.png" class="img-fluid mr-2">
            <h2>Neurology</h2>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris.</p>
          <a href="#">Read more</a>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-5">
          <div class="head d-flex mb-4"><img src="assets/glasses.png" class="img-fluid mr-2">
            <h2>Orthopaedy</h2>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris.</p>
          <a href="#">Read more</a>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-5">
          <div class="head d-flex mb-4"><img src="assets/teeth.png" class="img-fluid mr-2">
            <h2>Pediatry</h2>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris.</p>
          <a href="#">Read more</a>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-5">
          <div class="head d-flex mb-4"><img src="assets/glasses.png" class="img-fluid mr-2">
            <h2>Ophthalmology</h2>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris.</p>
          <a href="#">Read more</a>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-5">
                <div class="head d-flex mb-4"><img src="assets/bones.png" class="img-fluid mr-2">
                  <h2>Cardioology</h2>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris.</p>
                <a href="#">Read more</a>
              </div>
              <div class="col-12 col-md-6 col-lg-4 mb-5">
                <div class="head d-flex mb-4"><img src="assets/stretcher.png" class="img-fluid mr-2">
                  <h2>Cardioology</h2>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris.</p>
                <a href="#">Read more</a>
              </div>
              <div class="col-12 col-md-6 col-lg-4 mb-5">
                <div class="head d-flex mb-4"><img src="assets/glasses.png" class="img-fluid mr-2">
                  <h2>Cardioology</h2>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris.</p>
                <a href="#">Read more</a>
              </div>
              <div class="col-12 col-md-6 col-lg-4 mb-5">
                <div class="head d-flex mb-4"><img src="assets/bones.png" class="img-fluid mr-2">
                  <h2>Cardioology</h2>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris.</p>
                <a href="#">Read more</a>
              </div>
              <div class="col-12 col-md-6 col-lg-4 mb-5">
                <div class="head d-flex mb-4"><img src="assets/teeth.png" class="img-fluid mr-2">
                  <h2>Cardioology</h2>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris.</p>
                <a href="#">Read more</a>
              </div>
              <div class="col-12 col-md-6 col-lg-4 mb-5">
                <div class="head d-flex mb-4"><img src="assets/glasses.png" class="img-fluid mr-2">
                  <h2>Cardioology</h2>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris.</p>
                <a href="#">Read more</a>
              </div>
      


      </div>
    </div>

  </div>
</section>
