<section class="subscribe_banner py-5">
    <div class="container text-center">
        <div>
            <h2 class="my-5">Subscribe to our newsletter</h2>
            <form class="w-75 mx-auto">
                    <div class="form-group">
                      <input type="email" class="form-control mb-4"
                       id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                     
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Subscribe</button>
            </form>
        </div>
    </div>

</section>
