<!--    -------------------latest post----------------------------------------------------->
<div class="news  py-5 my-5">
        <div class="container">
            <h1 class="text-center">The News</h1>
            <p class="text-center px-5 my-5 ">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages</p>
            <div class="row">
                <div class="col-md-4 my-2 " >
                    <div class="card">
                        <img src="assets/news-4.png" class="card-img-top w-100" alt="...">
                        <div class="card-body">
                            <h5 class="card-title cardti">The latest in Medicine</h5>
                            <ul class="list-unstyled d-flex justify-content-between">
                                <li><span>Date:</span> <a href="#">April 12,2018</a></li>
                                <li> <span>By:</span> <a href="#">Dr:jackewilliabs</a></li>
                                <li> <a href="#">2 comments</a></li>
                            </ul>
                            <p class="card-text cardp">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-4 my-2 " >
                    <div class="card">
                        <img src="assets/news-5.png" class="card-img-top w-100" alt="...">
                        <div class="card-body">
                            <h5 class="card-title cardti">All you need to know about pills</h5>
                            <ul class="list-unstyled d-flex justify-content-between">
                                    <li><span>Date:</span> <a href="#">April 12,2018</a></li>
                                    <li> <span>By:</span> <a href="#">Dr:jackewilliabs</a></li>
                                    <li> <a href="#">2 comments</a></li>
                                </ul>
                            <p class="card-text cardp">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                           
                        </div>
                    </div>
                </div>
                <div class="col-md-4 my-2 " >
                    <div class="card">
                        <img src="assets/news-6.png" class="card-img-top w-100" alt="...">
                        <div class="card-body">
                            <h5 class="card-title cardti">Marketing and Medicine</h5>
                            <ul class="list-unstyled d-flex justify-content-between">
                                    <li><span>Date:</span> <a href="#">April 12,2018</a></li>
                                    <li> <span>By:</span> <a href="#">Dr:jackewilliabs</a></li>
                                    <li> <a href="#">2 comments</a></li>
                                </ul>
                            <p class="card-text cardp">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!------------------------------------------------>
