<div class="bd-example">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
                    <div class="test w-100 h-100 ">
                            <img src="assets/hero.jpg" class="d-block w-100" alt="...">
                            <div class="layer w-100 h-100 d-flex flex-column  justify-content-center">
                                <div class="container">
                                        <div class="w-50">
                                                <h2>The Best</h2>
                                                <h2 class="mb-3">Medical Services</h2>
                                                <p>Lorem ipsum dolor sit amet, cons ectetur adipiscing elit. Donec males uada lorem maximus
                                                     mauris sceler isque, at rutrum nulla.Lorem ipsum dolor sit amet, cons ectetur adipiscing elit. Donec males uada lorem maximus
                                                     mauris sceler isque, at rutrum nulla.
                                                </p>
                                                <a href="#" class="call">Read more</a>
                                        </div>
                                </div>
                            </div>
                     </div>
            </div>
            <div class="carousel-item">
             <div class="test w-100 h-100 ">
                    <img src="assets/hero.jpg" class="d-block w-100" alt="...">
                    <div class="layer w-100 h-100 d-flex flex-column  justify-content-center">
                        <div class="container">
                            <div class="w-50">
                                    <h2>The Best</h2>
                                    <h2 class="mb-3">Medical Services</h2>
                                    <p>Lorem ipsum dolor sit amet, cons ectetur adipiscing elit. Donec males uada lorem maximus
                                         mauris sceler isque, at rutrum nulla.Lorem ipsum dolor sit amet, cons ectetur adipiscing elit. Donec males uada lorem maximus
                                         mauris sceler isque, at rutrum nulla.
                                    </p>
                                    <a href="#" class="call">Read more</a>
                            </div>
                        </div>
                    </div>
             </div>
              
            </div>
            <div class="carousel-item">
                    <div class="test w-100 h-100 ">
                            <img src="assets/hero.jpg" class="d-block w-100" alt="...">
                            <div class="layer w-100 h-100 d-flex flex-column  justify-content-center">
                                <div class="container">
                                        <div class="w-50">
                                                <h2>The Best</h2>
                                                <h2 class="mb-3">Medical Services</h2>
                                                <p>Lorem ipsum dolor sit amet, cons ectetur adipiscing elit. Donec males uada lorem maximus
                                                     mauris sceler isque, at rutrum nulla.Lorem ipsum dolor sit amet, cons ectetur adipiscing elit. Donec males uada lorem maximus
                                                     mauris sceler isque, at rutrum nulla.
                                                </p>
                                                <a href="#" class="call">Read more</a>
                                        </div>
                                </div>
                            </div>
                     </div>
            </div>
          </div>
         
        </div>
      </div>